main{
    width: 940px ;
    margin: 0 auto;
}

form{
    margin: 40px 0;
}

form label, form legend{
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padroa{
    display: block;
    margin: 0 0 20px;
    padding: 6px 25px;
    width: 50%;
}

form textarea{
    width: 50%;

}

.checkbox{
    margin: 20px 0;
}

.enviar{
    width: 40%;
    padding: 15px 0;
    background: orange;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border:none;
    border-radius: 5px;
    transition: 0.5s all;
}

.enviar:hover{
    background: darkorange;
    cursor: pointer;
    transform: scale(1.1);
}

table{
    margin: 20px 0 40px;
}

table thead{
    font-weight: bold;
    background: gray;
    color: white;
}

td,th{
    border: 1px solid black;
    padding: 8px 15px;
}

